<form [formGroup]="jobForm" (ngSubmit)="onSubmit()">
  <label for="summary">Summary: </label>
  <input id="summary" type="text" formControlName="summary">

  <label for="description">Description: </label>
  <input id="description" type="text" formControlName="description">

  <label for="status">Status: </label>
  <input id="status" type="text" formControlName="status">

  <select formControlName="state" *ngIf="properties$ | async as properties">
    <option *ngFor="let prorerty of properties" [ngValue]="prorerty.id">
      {{ prorerty.name }}
    </option>
  </select>
  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!jobForm.valid">Submit</button>
</form>
